<% title "Resource" %>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <%= link_to "Edit", edit_resource_path(@resource) %> |
  <%= link_to "Destroy", @resource, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", resources_path %>
</p>
